{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width = device-width, initial-scale = 1.0">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title %}{% endblock %} | Weather</title>
        <style>
            body{
                background-image: url("{% static 'core/images/bgImage.jpg' %}");
            }
        </style>
    </head>
    <body class=" bg-center bg-cover bg-no-repeat min-h-screen flex flex-col gap-5 items-center p-10">
        {% block content %}
        {% endblock %}
    </body>
</html>