{% extends 'core/base.html '%}

{% block title %}Weather{% endblock %}
{% block content %}
    <div class="flex gap-2 w-4/5 md:w-3/5 lg:w-2/5 justify-start h-5">
        <a href="{% url 'core:index' %}" class="flex text-xl text-white p-2">
            <ion-icon name="arrow-back" class="w-5 h-5 p-2 rounded-full backdrop-blur-sm"></ion-icon>
        </a>
    </div>
    
    <div class="flex text-white gap-2 w-4/5 md:w-3/5 lg:w[-35%] justify-center">
        <div class="flex flex-col justify-center items-center w-fit">
            <p class="text-white text-2xl justify-around font-semibold">{{city}}</p>
            <p class="text-8xl">
                {{temperature}}&deg;
            </p>
            <p class="justify-around font-semibold text-xl">{{ weather }}</p>
            <p class="justify-around font-semibold text-xl">H: {{temp_max}}&deg; L: {{temp_min}}&deg;</p>
        </div>
    </div>
    <div
        class="overflow-x-auto h-1/5  text-white font-semibold w-4/5 md:w-3/5 lg:w-2/5 justify-center items-center bg-white/20 p-2 backdrop-blur-sm rounded-2xl shadow-2xl">
        <div class="flex space-x-2 w-fit">
            {% for hour in hourly_forecast %}
            <div class="flex-col justify-around px-4">
                <p class="py-1.5">{{hour.dt_time}}</p>
                <img src="{{hour.icon}}" alt="weather image" class="w-8 h-6 md:w-10 md:h-9 lg:w-14 lg:h-10">
                <p>{{hour.temperature}}&deg;C</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="overflow-y-auto  h-2/3 w-4/5 md:w-3/5 lg:w-2/5 justify-around bg-[#0198afb6] p-3 backdrop-blur-2xl rounded-2xl shadow-2xl">
        <ion-icon class="text-white/50" name="calendar"></ion-icon>
        <p class="text-white/50"> WEEKLY FORECAST </p>
        <ul>
            {% for day in forecast %}
                <li class="flex justify-around text-white font-semibold items-center">
                    <p>{{day.date}}</p>
                    <div class="w-1/6 h-1/4 justify-start">
                        <img src="{{day.icon}}" alt="">
                    </div>
                    <p class="text-white/50">{{day.temp_min}}&deg;C</p>
                    <p class="text-white">{{day.temp_max}}&deg;C</p>
                </li>
                <p class="text-white font-semibold justify-around">Feels like: {{day.feels_like}}&deg;C</p>
                <div class="h-0.5 w-full bg-white/30"></div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}