{% extends 'core/base.html '%}
{% load static %}
{% block title %}| Weather{% endblock %}
{% block content %}
    <form action="" class="flex gap-2 w-4/5 md:w-3/5 lg:w[-35%] items-center justify-center" method="get">
        <input type="text" name="city"
            class="py-2 px-3 w-full rounded-full bg-white text-black text-lg outline ease-in-out duration-500 outline-3 outline-white/70 backdrop-blur-lg focus:bg-white/20"
            placeholder="Enter a city...">
        <button type="submit">
            <ion-icon name="search" class="text-white text-2xl p-3 font-black rounded-full bg-white/50">
    
            </ion-icon>
        </button>
    </form>
    
    <a href="{% url 'core:detail' city%}" class="flex p-2 w-4/5 bg-white/20 justify-between rounded-3xl backdrop-blur-sm text-white shadow-2xl cursor-pointer ease-in-out duration-500 hover:scale-[105%] md:w-3/5 lg:w-[35%]">
        <div
            class="flex p-5 w-full  justify-between  text-white ">
            <div id="left" class="flex flex-col">
                <div id="top" class="mb-6">
                    <p class="font-bold text-5xl">{{ temperature }} &deg;C</p>
                    <p class="font-semibold">Now</p>
                </div>
                <p class="font-semibold text-xl">{{city}}, {{country}}</p>
            </div>
            <div id="right" class="flex justify-center items-center">
                <img src="{{ icon_url }}" alt="weather image" class="w-28 h-28">
            </div>
        </div>
    </a>
    
    <div
        class="flex w-full justify-between bg-[#0198afb6] p-3 backdrop-blur-2xl rounded-2xl shadow-2xl cursor-pointer ease-in-out duration-500 hover:scale-[105%] md:w-3/5 lg:w-[35%]">
        <div id="left" class="flex flex-col justify-start">
            <img src="{{ icon_url }}" alt="">
            <p class="font-bold text-4xl text-white">{{weather}}</p>
            <p class="text-semibold text-white">{{weather_description}}</p>
        </div>
        <div id="right" class="w-1/2 flex flex-col space-y-2">
            <div class="flex w-full justify-around bg-white/30 p-1 rounded-lg items-center gap-6">
                <ion-icon class="w-8 h-8 text-white" name="thermometer"></ion-icon>
                <div class="">
                    <p class="font-bold text-2xl text-right text-black">
                        {{temperature}} &deg;C
                    </p>
                    <p class="text-sm text-white text-right">Temperature</p>
                </div>
            </div>
            <div class="flex w-full justify-around bg-white/30 p-1 rounded-lg items-center gap-6">
                <ion-icon class="w-8 h-8 text-white" name="rainy"></ion-icon>
                <div class="">
                    <p class="font-bold text-2xl text-right text-black">
                        {{humidity}}
                    </p>
                    <p class="text-sm text-white text-right">Humidity</p>
                </div>
            </div>
            <div class="flex w-full justify-around bg-white/30 p-1 rounded-lg items-center gap-6">
                <ion-icon class="w-8 h-8 text-white" name="speedometer"></ion-icon>
                <div class="">
                    <p class="font-bold text-2xl text-right text-blue">
                        {{wind_speed}}m/s
                    </p>
                    <p class="text-sm text-white text-right">Wind speed</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}